[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dash = "*"
dash-bootstrap-components = "*"
gunicorn = "*"
plotly = "*"
pandas = "==1.0.1"
click = "==7.1.1"
itsdangerous = "==1.1.0"
joblib = "==0.14.0"
scikit-learn = "==0.22.1"
numpy = "==1.17.0"
flask = "==1.0.2"
jinja2 = "==2.11.2"
markupsafe = "==1.1.1"
werkzeug = "==1.0.1"
category-encoders = "==2.1.0"

[requires]
python_version = "3"
